* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
   
}
li {
    list-style: none;
}
a{
    color:white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
    
}
   .navMenu {
        
    display: none;
    /* justify-content: space-between;
    align-items: center; 
    gap: 60px; 
    position: fixed; 
    top: -100%;
    gap: 20px;
    padding: 40px 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-left: -20px; */
    
}    
.navMenu.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px; 
    position: fixed;
    top: -100%;
    gap: 20px;
    padding: 40px 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.7s;
    margin-left: -20px;  
}
.navMenu.active{
    top:0;
}
.nav-branding:hover {
color:rgb(17, 211, 108);
}
.nav-link:hover {
    color:rgb(215, 218, 10);
}
.nav-link {
    font-size: 23px;
    transition: 0.7s;

}
.nav-branding {
    font-size: 30px;
    transition: 0.7s;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.bar{
    display: block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;
}

h1 {
    font-size: 43px;
}

.nav-item{
    margin:16px;
}

.nav-link {
    padding: 10px;
}
.sectionMain {
    background: url("Wallpaper   Art wallpaper   Colorful Background Episode 3.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 670px;
    text-align: center;
    padding: 200px 0 0 0;
}
h2 {
    padding: 70px 0 ;
    text-align: center;
}
.skillsSection {
    /* margin-left: -105px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img {
    padding: auto;
    max-width: 120px;
}
.sectionAbout{
    background: url("about.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 670px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
p {
    display: flex;
    justify-content: end;
}
