* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: rgb(38, 48, 16);
    width: 100%;
   
}
li {
    list-style: none;
    border: 5px;
    border-color: white;
}
a{
    color:white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.navMenu {
       display: none;  
      
} 
/* hambure menu    */
.navMenu.active {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: -100%;
    gap: 20px;
    padding: 40px 0;
    flex-direction: column;
    background-color: rgb(38, 48, 16);
    width: 100%;
    text-align: center;
    margin-left: -20px; 
   
}
.navMenu.active{
    top:0;
 
}
.nav-branding:hover {
color:rgb(17, 211, 108);
font-size: 40px;
}
.nav-link:hover {
    color:rgb(215, 218, 10);
    font-size: 33px ;
}
.nav-link {
    font-size: 23px;
    transition: 0.7s;

}
.nav-branding {
     font-size: 30px;
    transition: 0.7s; 
}
.hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.bar{
    display: block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;
}

h1 {
    font-size: 43px;
}

.nav-item{
    margin:16px;
}

.nav-link {
    padding: 10px;
}
.sectionMain {
    background: url("background.jpg") no-repeat center;
    background-size: cover;
    /* height: 730px; */
    min-height: 100vh;
    text-align: center;
    padding: 200px 0 0 0;
    font-family: 'Goldman', cursive;
    overflow: hidden;
    
}
h2 {
    padding: 70px 0 ;
    text-align: center;
}
#skillsSection {
    /* margin-left: -105px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skillsIcons {
    padding-bottom: 100px;
    max-width: 120px;
}
.sectionAbout{
    background: url("about.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 870px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 25px;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;

}
.sectionAbout p {
    display: flex;
    justify-content: end;
    padding-right: 25px;
    font-family: 'Patrick Hand', cursive;
}
.skills {
    padding: auto;
    max-width: 70px;
    
}
.socialMedia {
    display: flex;
    justify-content: center;
    margin-left: -25px;
    

}
footer {
    text-align: center;
    background-color: rgb(38, 48, 16);
    color:azure;
    padding: 30px;
    font-size: 20px;
}
#sectionProjects {
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-left: 100px;
}
.projects {
    max-width: 220px;
    
}
.contact {
    padding: 10px;
    max-width: 70px;
}
.contact:hover {
    max-width: 90px;
    transition: 0.5s;

}
.email:hover {
    font-size: 30px;
    transition: 0.5s;
}


/* adding something */
/* adding something */
/* animation effects */
span.roses {
      position: absolute;
      pointer-events: none;
      filter: drop-shadow(0 0 15px rgba(0,0,0,0.5)) ;
      animation: fadeInOut 1s linear infinite;
}
@keyframes fadeInOut {
    0%,100% {
        opacity: 0;
    }
    20%,80% {
        opacity: 1;
    }
}
span::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;  
    background: url("free-clover.png");
    background-size: cover;
    animation: moveShape 2s linear infinite ;
}
@keyframes moveShape {
    0% {
        transform: translate(0) rotate(0deg);
    }
    100% {
        transform: translate(300px) rotate(360deg);
    }
}